@model JobCraft.Models.VacancyList
@{
    ViewData["Title"] = "ვაკანსიები";
}


<div class="contaienr-fluid banner">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-md-5 col-12">
            <p class="header-text">
                კარიერას თუ ახლა იწყებ, ეს ვაკანსიები შენთვისაა
            </p>
            <div class="filter-div col-lg-11 mt-5">
                <form asp-action="Index" asp-controller="JobsList" method="get">
                    <div class="container-fluid filter-inputs d-flex flex-wrap d-inline-flex align-items-center">
                        <input type="text" name="title" placeholder="რას ეძებ?" class="input-title">
                        <div class="category-input">
                            <label for="category"><i class="bi bi-briefcase"></i></label>
                            <select id="category" name="category">
                                <option value="">კატეგორია</option>
                                @foreach (var category in ViewBag.Categories)
                                {
                                    <option value="@category.Value">@category.Text</option>
                                }
                            </select>
                        </div>

                        <div class="location-input">
                            <label for="location"><i class="bi bi-geo-alt"></i></label>
                            <select id="location" name="location">
                                <option value="">ლოკაცია</option>
                                @foreach (var location in ViewBag.Locations)
                                {
                                    <option value="@location.Value">@location.Text</option>
                                }
                            </select>
                            <button type="submit" class="filter-btn">ძიება</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>

        <div class="col-md-5 col-12">
            <img src="images/Doodle.png" class="img-fluid" />
        </div>
    </div>
</div>

<!--Vacancy List-->
<div class="container mt-5 VacancyList">
    <div class="row">

        <div class="col-md-4">
            d
        </div>
        <div class="col-md-8">
            <div class="titleVacancies">
                <h3>სტანდარტული ვაკანსიები</h3>
            </div>
            <div class="vacancy-list">


                @foreach (var vacancy in Model.Vacancies)
                {

                    <div class="vacancy-box border-1 border mt-4">
                        <div class="row">
                            <div class="col-lg-1 col-2">
                                <a href="#">
                                    <img src="/Uploads/@vacancy.LogoName" alt="Company Logo" style="width: 50px; height:50px; border-radius:5px; margin-top:5px">
                                </a>
                            </div>


                            <div class="col-10">
                                <div class="vacancy-title">
                                    <a asp-route="jobdesc" asp-route-id="@vacancy.Id">@vacancy.VacancyName</a>
                                </div>

                                <div class="vacancy-company d-flex">
                                    <i class="bi bi-house"></i>
                                    <a href="#">@vacancy.CompanyName</a>
                                </div>
                                <div class="vacancy-type d-flex">
                                    <i class="bi bi-briefcase"></i>
                                    <a href="#">@vacancy.JobCategory</a>
                                </div>

                                <div class="vacancy-location d-flex">
                                    <i class="bi bi-geo-alt"></i>
                                    <a href="#">@vacancy.Location</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<a class="" asp-action="Index" asp-controller="JobsList" asp-route-title="ბანქო" asp-route-location="თბილისი" asp-route-category="">daawire</a>
<script src="~/js/mainPage.js"></script>