@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> userManager
@{
    var user = userManager.GetUserAsync(User).Result;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - JobCraft</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JobCraft.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <div class="col-lg-2 d-flex justify-content-end">
                    <a class="navbar-brand" href="/">JobCraft</a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-black col-lg-7" id="navbarSupportedContent">
                    <div class="col-lg-1"></div>
                    <ul class="navbar-nav mb-lg-0 col-lg-3 ">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">მთავარი</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">განათლება</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ბლოგი</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pricing">ფასები</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">კონტაქტი</a>
                        </li>
                    </ul>
                    <div class="col-lg-2"></div>
                </div>
                <div class="personIcon">
                    <a href="@(!User.Identity.IsAuthenticated ? "/Authorization" : "")" type="button"><i class="bi bi-person"></i></a>
                </div>
                <div class="col-lg-3 d-lg-flex authDiv userProfile">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a class="btn authorization" href="/Authorization">ავტორიზაცია/რეგისტრაცია</a>
                    }
                    else
                    { 
                        <div class="name" ><a>@user.Firstname @user.Lastname</a> <i class="bi bi-caret-down-fill ms-1"></i></div>
                        <ul class="menu">
                            <li><a class="dropdown-item" href="#"><i class="bi bi-menu-button-wide pe-3"></i>ვაკანსიის დამატება</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-person pe-3"></i>პროფილი</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-shield-lock pe-3"></i>პაროლის შეცვლა</a></li>
                            <li><a class="dropdown-item" href="Authorization/Logout"><i class="bi bi-box-arrow-right pe-3"></i>გამოსვლა</a></li>
                        </ul>
                    }

                </div>
            </div>
        </nav>


    </header>
    @if (TempData["Alert"] != null)
    {
        <div class="position-fixed start-50 translate-middle-x" style="z-index: 1050; display: block;" id="mailAlert">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["Alert"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }

    <main role="main" class="pb-6">
        @RenderBody()
    </main>

    <p>© 2023 JobCraft. ყველა უფლება დაცულია.</p>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/auth.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
